In [ ]:
1.
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

In [ ]:
2.
# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the series
print(series)

In [ ]:
3.
# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

| Name   | Age | Gender |
|--------|-----|--------|
| Alice  | 25  | Female |
| Bob    | 30  | Male   |
| Claire | 27  | Female |

4.
A DataFrame in pandas is a 2-dimensional labeled data structure with columns that can be of different types. It is similar to a spreadsheet or a SQL table, and is the most commonly used pandas object. On the other hand, a Series is a 1-dimensional labeled array capable of holding any data type.
# Series example
series = pd.Series([1, 2, 3, 4, 5])
print("Series:")
print(series)

# DataFrame example
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
Some common functions to manipulate data in a Pandas DataFrame include:

df.head(): to view the first few rows of the DataFrame.
df.tail(): to view the last few rows of the DataFrame.
df.describe(): to get a summary of statistics for numerical columns.
df.info(): to get a concise summary of the DataFrame.
df.drop(): to remove rows or columns.
df.fillna(): to fill missing values.
df.groupby(): to group data and perform aggregate operations.

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'Alice', 'Bob'],
    'Age': [25, 30, 27, 25, 30],
    'Score': [85, 90, 88, 92, 95]
}
df = pd.DataFrame(data)

# Group by 'Name' and calculate the mean score
grouped = df.groupby('Name')['Score'].mean()

print(grouped)

In [ ]:
Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?
Both Series and DataFrame are mutable in nature. The Panel has been deprecated and is no longer recommended for use.

In [ ]:
7.
# Create individual Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame from the Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

print(df)